.vapor {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  min-height: 600px;
  z-index: 0;
  background-image: url(https://wallpapercave.com/wp/w9UxGfh.jpg);
  animation: animatedBackground 10s linear infinite,
             colorShift 5s linear infinite;
             background-size: 1400px;
}

.vapor:before {
  position: relative;
  z-index: 1;
  opacity: 0.7;
  background-image: url(https://media.giphy.com/media/gSxj0I2b2EMCc/giphy.gif);
  animation: animatedBackground 20s linear infinite;
}

.vapor .content {
  margin: 0px auto;
  max-width: 1000px;
  position: relative;
}

.vapor p {
  position: relative;
  z-index: 2;
  margin-left: 340px;
  color: #fc475f;
  font-weight: bold;
  font-size: 42pt;
  font-family: sans-serif;
  text-shadow: 4px 4px 0px #b3b032;
  line-height: 120px;
}

.vapor h1 {
  position: relative;
  z-index: 2;
  margin-left: 230px;
  color: #fc475f;
  font-weight: bold;
  font-size: 42pt;
  font-family: sans-serif;
  text-shadow: 4px 4px 0px #b3b032;
  margin-top: 360px;
}

img.spooky {
  position: absolute;
  left: 500px;
  top: 82px;
  animation: hueRotate 5s linear infinite;
}

img.statue {
  position: absolute;
  left: 200px;
  top: 100px;
  width: 250px;
  animation: hueRotate 5s linear infinite;
}

img.checker {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 600px;
  animation: hueRotate 5s linear infinite;
}

img.palm {
  z-index: 1;
  width: 400px;
  position: absolute;
  left: -100px;
  top: -55px;
  animation: hueRotate 5s linear infinite;
}

img.palmrev {
  z-index: 1;
  width: 400px;
  transform: scaleX(-1);
  position: absolute;
  right: -100px;
  top: -55px;
  animation: hueRotate 5s linear infinite;
}

img.more {
  position: absolute;
  left: 690px;
  top: 280px;
  width: 300px;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

@keyframes colorShift {
  0% { background-color: #FF8099; }
  50% { background-color: #5DBCD2; }
  100% { background-color: #FF8099; }
}

@keyframes hueRotate {
  0% { filter: hue-rotate(0deg);
  ; }
  50% { filter: hue-rotate(180deg); }
  100% { filter: hue-rotate(359deg); }
}

